*
!.gitignore
!1.png
!2.png
!3.png
!4.png
!5.png
!result_1.png
!base_conv.png
!fig4.png
!fig5.png
!fig6.png
!fig7.png
!fig8.png
!fig9.png
!fig10.png
!fig11.png
!fig12.png
!fig13.png
!fig14.png
!fig15.png
!fig16.png
!fig17.png
!fig18.png
!fig19.png
!colorbar.png
!demo1.png
!demo2.png
!demo3.png
!demo4.png
!demo5.png
!demo6.png
!choosing_k_1.png
!result_kth10.png
!cytomatic4.png
!fig_straight_cell.png
!projected_points_18.png
!curved_cell_18.png
!peak_path_18.png
!projected_points.png
!cell_results
!test_database_fluo1.png
!test_database_histo_cumulative.png
!test_database_histo.png
!test_database_peak_paths.png
!test_database_ph.png
!test_database_projected_points.png
!test_database_replot.png
!schema.png
!manual_detect_demo.gif


#new images
!Schema_new.png
